* {
  margin: 0;
  box-sizing: border-box;
}

*[contenteditable="true"],
button {
  outline: none;
}

@basic-color: #7ba9d3;
@font-color: #41464b;
@aside-color: RGBA(226, 226, 226, 0.6);

html,
body,
#root {
  height: 100%;
}

p {
  color: @font-color;
}

.wrapper {
  height: 100%;
  > * {
    width: 900px;
    margin: auto;
  }
  header {
    height: 50px;
    padding: 0 15px;
    background: @basic-color;
    p {
      height: 100%;
      line-height: 50px;
      color: white;
      float: right;
    }
  }
  .content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 50px);
    aside {
      width: 225px;
      background: @aside-color;
      display: flex;
      flex-direction: column;
      img {
        width: 80%;
        margin: 10%;
      }
      .name-info {
        p {
          text-align: center;
          letter-spacing: 1px;
        }
        p:first-child {
          font-size: 22px;
          font-weight: 500;
          margin-bottom: 3px;
        }
      }
      .other-basic-info {
        h4 {
          background: @basic-color;
          font-weight: normal;
          color: white;
          text-align: center;
          line-height: 2em;
          margin: 35px 0 25px;
          position: relative;
          left: -20px;
        }
        h4:before {
          // 三角形
          content: "";
          content: "";
          height: 0;
          width: 0;
          font-size: 0px;
          line-height: 0;
          border: 15px gray solid;
          border-color: transparent transparent transparent gray;
          position: absolute;
          left: 5.5px;
          top: 16.5px;
          transform: rotate(-45deg);
        }
        > div {
          padding: 0 15px;
          p {
            line-height: 2;
            font-size: 15px;
          }
        }
      }
    }
    .main-content {
      flex-grow: 1;
    }
  }
}
